.App {
  text-align: center;
}

.App-Background {
  background-color: #EAE1F4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #779BE7;
}

.App-header {
  background-color: #779BE7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #00253D;
}
